<div class="row">
  <div class="col-md-8">	
	<div class = "contact-specific">

	<h3>
	   <%= @contact.installation.name %>
	   <%= @contact.category.name %>
	</h3>

	 <h3>
	  <strong>Name:</strong>
	  <%= @contact.name %>
	</h3>

	<h3>
	  <strong>Phone:</strong>
	  <%= @contact.phone %>
	</h3>

	<h3>
	  <strong>Email:</strong>
	  <%= @contact.email %>
	</h3>	


	<h3>
	  <strong>Notes:</strong>
	  <%= @contact.note %>
	</h3>
	<h3>Reviews:</h3>
	<% @reviews.each do |review| %>
		<div class = "review">
			<h3><%= review.stars %> Stars</h3>
			<h3><%= review.comments %></h3>
			<h5>Review submitted by: <%= review.user.name %></h5>
		</div>
		
	<% end %>

	</div>
	<div class="add-a-review">
	<h3>Add A Review</h3>
	<%= form_for [@contact, Review.new] do |f| %>
	        <p>
	                <%= f.label :comments, "New Review" %><br/>
	                <%= f.text_area :comments, :size => "60x5" %><br/>
					<%= f.label :stars, "Stars" %><br/>
					<%= f.select :stars, options_for_select(%w[1 2 3 4 5]) %>
					<%= f.hidden_field :contact_id , :value => @contact.id  %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
	        </p>
	        <p><%= f.submit "Add A Review" %></p>
	<% end %>
	</div>
	</div>
  <div class="col-md-4"><%= image_tag("rolodex.jpg") %></div>
</div>

