<p id="notice"><%= notice %></p>

<p>
  <strong>Stars:</strong>
  <%= @review.stars %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @review.contact_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
